<!Doctype HTML>
<html lang="de">
  <head>
    <meta name="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8">
    <meta name="description" content="Liste der fliegerärztlichen Untersuchungsstelle">
    <title>Fliegerarzt Kartei</title>
    <meta name='og:type' content='website' />
    <meta name='og:title' content="Fliegerarzt Kartei" />
    <meta name='og:description' content="Liste der fliegerärztlichen Untersuchungsstelle" />
    <style type="text/css" media="screen">
      .hidden {
          display: none
      }
      #heading {
       font-size: 2.25em;
       margin-top: 0;
       margin-bottom: .8888889em;
       line-height: 1.1111111;
       padding: 1rem;
      }
    </style>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>


  </head>
  <body>
    <section class="prose">
      <h1 id="heading">Ärzte</h1>
    </section>
    <section class="flex gap-2 px-2">
      <label class="input input-bordered flex items-center gap-2">
        PLZ
        <input type="text" name="zip" value=""/>
      </label>
      <label class="input input-bordered flex items-center gap-2">
        Stadt
        <input type="text" name="city" value="" />
      </label>
      <select name="federalState" class="select select-bordered">
        <option selected default>Alle</option>
        {% for federal_state in federal_states %}
        <option value={{federal_state}}>{{ federal_state }}</option>
        {% endfor %}
      </select>
    </section>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Stadt</th>
          <th>PLZ</th>
          <th>Straße</th>
          <th>Bundesland</th>
          <th>Telefon</th>
        </tr>
      </thead>
      <tbody>
        {% for doctor in doctors %}
        <tr class="hover" data-zip={{doctor.address.zip}} data-city={{doctor.address.city}} data-federal-state={{doctor.address.federal_state}}>
          <td>{{doctor.name}}</td>
          <td>{{doctor.address.city}}</td>
          <td>{{doctor.address.zip}}</td>
          <td>{{doctor.address.street}}</td>
          <td>{{doctor.address.federal_state}}</td>
          <td>{{doctor.telefon}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
  <script type="text/javascript">

    function hideRow(row) {
        row.className = "hidden"
    }

    function showRow(row) {
        row.className = ""
    }

    function getAllDataRows() {
        return document.querySelectorAll("tbody > tr")
    }

    function filterRows(rows, predicate) {
        for (row of rows) {
            row.className = predicate(row) ? "" : "hidden"
        }
    }

    function isEmptyString(str) {
        return str.length === 0
    }

    function resetOtherFilters(sourceElement, filterElems) {
        filterElems.forEach(filterElement => {
            if (filterElement !== sourceElement) {
                if (filterElement instanceof HTMLSelectElement) {
                    filterElement.value = "Alle"
                } else {
                  filterElement.value = filterElement.defaultValue
                }
            }
        })
    }
    
    const zipInput = document.querySelector("input[name=zip]")
    const cityInput = document.querySelector("input[name=city]")
    const federalStateInput = document.querySelector("select")

    const filters = [zipInput, cityInput, federalStateInput]

    zipInput.addEventListener("keyup", (e) => {
        resetOtherFilters(e.target, filters)
        const search = e.target.value
        const rows = getAllDataRows()

        if (isEmptyString(search)) {
            for (row of rows) {
                showRow(row)
            }
            return
        }

        filterRows(rows, (row) => {
            return row.getAttribute("data-zip").startsWith(search)
        })
    })

    cityInput.addEventListener("keyup", (e) => {
        resetOtherFilters(e.target, filters)
        const search = e.target.value
        const rows = getAllDataRows()

        if (isEmptyString(search)) {
            for (row of rows) {
                showRow(row)
            }
            return
        }
        filterRows(rows, (row) => {
            return row.getAttribute("data-city").toLowerCase().startsWith(search)
        })
    })

    federalStateInput.addEventListener("change", (e) => {
        resetOtherFilters(e.target, filters)
        const search = e.target.value
        const rows = getAllDataRows()

        if (search === "Alle") {
            for (row of rows) {
                showRow(row)
            }
            return
        }
        filterRows(rows, (row) => {
            return row.getAttribute("data-federal-state").startsWith(search)
        })
    })
  </script>
</html>
